.layout__control-panel {
    flex-shrink: 0;
    flex-grow: 0;
}

.control-panel {
    width: 45px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #258C60;
}

.control-panel__menu-button {
    margin-top: 30px;
    width: 45px;
    height: 45px;
}

.control-panel__button {
    margin-top: 30px;
    width: 35px;
    height: 35px;
}

#hamburger {
    display: none;
}

#hamburger:checked + .control-panel {
    position: relative;
    top: 0;
    width: 100px;
    z-index: 1;
}
#hamburger:checked + .control-panel .control-panel__button {
    width: 55px;
    height: 55px;
}



.button-shell {   
    border: none;
    border-radius: 4px;
    background-color: #258C60;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-shell:hover {
    background-color: #23ad71;
}

.button-shell:active {
    background-color: #258c60;
}

.button-shell__img {
    display: block;
    width: 50%;
    height: 50%;
}
