.input-text-box {
    height: 40px;
    width: calc(100% - 45px);
    border-radius: 5px;
    border: 0.5px solid #cc6c6c7a;
    outline: none;
    padding: 5px 10px;
}

.buttons-block {
    margin-left: 5px;
}

.chat-input-button {
    height: 40px;
    width: 40px;

    background-color:#cc6c6c3d;
    border: none;
    border-radius: 5px;
    font-size: 26px;
    color: #d85757
}

.chat-input-button:hover {
    background-color:#9939393d;
}

.chat-input-button, .chat-input-button:active, .chat-input-button:focus {
    outline: none;
} 