body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.wrapper{
    width: 100%;
    background-color: rgb(222, 222, 247);
    display:flex;
    justify-content:center;
   
}
