.Header {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #eee;
    border: 1px solid #A9A9A9;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.Header h1 {
    margin: 0;
    color: #0c4a48;
}
.profileIcon {
    display: flex;
    align-items: center;
    
}
.profile-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    width: 20%;
}