.sendBtn {
    width: 14%;
    height: 31px;
    outline: none;
    border: none;
    border-bottom: 1px solid darkblue;
    border-radius: 0%;
    background-color: transparent;
    color: darkblue;
}

.sendBtn:focus {
    outline: none;
    background-color: transparent;
}

.sendBtn:active {
    outline: none;
    background-color: white;
    color: darkblue;
    /* border: none; */
}

.sendBtn:hover {
    outline: none;
    background-color: transparent;
    color: darkblue;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle {
    background-color: transparent;
    color: darkblue;
    outline: none;
}

.btn-outline-secondary.focus, .btn-outline-secondary:focus {
    box-shadow: none;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: none;
}