  .msg-main{
    width: 90%;
    display:flex; 
    flex-direction:column; 
    align-items:center;
    background-color:#fae2f7;
  }
  .msg-wrap {
    height: 83vh;
    overflow-y: auto;
    width: 100%;
    background-color: #fae2f7;
   
} 
