#Chats{
    height: calc(var(--window-height) - var(--header-height));
    border-radius: 0;  
    border-top: 0;
    border-bottom: 0; 
    .p-listbox-list {
       height: calc(var(--window-height) - var(--header-height) - 3.8125rem);
       padding: 0;
    }
}