#ChatControl {
    height: var(--footer-height);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    .p-toolbar-group-left {
        flex-grow: 1;
    }
}

#ChatControlButtonSend {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#ChatControlInputText {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
}