.message__text {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 80vh;
  overflow-y: auto;
  padding: 10px 25px;
  margin-top: 15px;
  border: 1px solid #215c5a;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #d6fffe;
}
.messages__wrap {
  height: 80vh;
  width: 80%;
  overflow-y: auto;
}
.message__input {
  border-top: 1px solid #215c5a;
  padding: 15px 5px;
  width: 90%;
  display: flex;
  justify-content: center;
  background-color: #215c5a;
  margin-bottom: 15px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.message__input__field {
  width: 50%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 10px;
  outline: none;
  border: 1px;
  color: #2f8481;
}
.message__input__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f8481;
  color: #fff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  outline: none;
  border: 1px;
  padding: 0 10px;
  transition: background-color 0.3s ;
}
.message__input__btn:hover {
    background-color: #2b6d6b;
    transition: background-color 0.3s ;
}
.message__input__btn:active {
    background-color: #2f8481;
}
.message__input__btn:focus {
    outline: none;
}
