.messages-container {
    background-color: #fbfbfb;
    border-right: 1px solid #cc6c6c7a;
}

.messages-inner-container {
    padding: 20px;
    height: calc(100vh - 160px);
    overflow-y: scroll;
}

.chat-input {
    width: 100%;
    bottom: 20px;
    border-top: 1px solid #cc6c6c7a;
    padding-top: 20px;
}

.scroll-pointer {
    float: left;
    clear: both;
}