.wrapper {
    margin: 20px auto;
    background-color: #192634;
    color: lightblue;
    /*color: #16B5E8;*/
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    max-width: 800px;
}

.button-round {
    width: 50px;
    height: 50px;
    background-color: #16B5E8;
    border-radius: 50%;
    border: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .5);
}

.button-pushed {
    border: rgba(0, 0, 0, .5) solid 5px;
}


