.controls {
    margin: 10px 0;
}

.inputMsg {
    outline: none;
    border: none;
    border-bottom: 1px solid darkblue;
    min-height: 20px;
    width: 85%;
    color: darkblue;
}

.sendBtn {
    width: 14%;
    min-height: 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid darkblue;
    background-color: transparent;
    color: darkblue;
}

.sendBtn:focus {
    outline: none;
}

.sendBtn:active {
    outline: none;
}