.chat-list {
    border-radius: 20px;
    border: lightblue solid 2px;
    min-height: 100%;
    padding: 10px;
    flex: 1 2 40%;
}

.chat-list__header {
    margin-top: 20px;
}

.button-chat {

}

.li-marked {
    list-style-type: disc;
}

.li-unmarked {
    list-style-type: none;
    color: #16B5E8;
}