.chat__list {
  background-color: #215c5a;
  margin: 15px 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 20px 10px;
  justify-content: space-between;
  align-items: center;
}
.chat__list__contacts {
    overflow-y: auto;
    height: 55vh;
    width: 200px;
}
ul {
  list-style-type: none;
  padding: 0;
  font-size: 20px;
  width: 150px;
}
li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: transform 0.2s;
}
li:hover{
    transform: scale(1.05);
    transition: transform 0.2s;
  }
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: none;
  color: #fff;
}
