body {
    margin: 0;
    font-family: sans-serif;
}

.wrap {
    min-width: 500px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #d7f5ff;
    color: #36494f;
    min-height: 100vh;
    position: relative;
}