.profile {
    margin: 30px;
    padding: 20px;
    min-height: calc(100vh - 60px);
    background-color: #fbfbfb;
    border: 1px solid #ff5722;
    border-radius: 10px;
}

.profile-header .MuiAvatar-root {
    height: 200px;
    width: 200px;
    margin: 30px auto;
}

.profile-inner-container {
    padding: 20px;
    height: calc(100vh - 160px);
}

.profile h2, .profile p {
    text-align: center;
}

.logout-button {
    justify-content: center;
    display: flex;
}

.change-password-form {
    margin-bottom: 30px;
}

#password-form {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    max-width: 300px;
}

#password-form input {
    border-color: #ff5722;
    border-width: 0.5px;
    padding: 5px;
}

#input-password-1 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#input-password-2 {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: none;
}

#profile-submit {
    margin-top: 30px;
    border-radius: 10px;
    background-color: #ff5722;
    font-size: 20px;
    color: #ffffff;
}

.error-message {
    background-color: #fba6a6;
    display: block;
    padding: 5px 5px;
    border-radius: 10px;
}

.ok-message {
    background-color: #a6fba6;
    display: block;
    padding: 5px 5px;
    border-radius: 10px;
}