<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>

        <div class="layout">
            <!-- control-panel -->
            <input type="checkbox" name="hamburger" id="hamburger">
            <aside class="layout__control-panel control-panel">                
                <label for="hamburger" class="control-panel__menu-button button-shell"><img src="./images/burger.png" alt="" class="button-shell__img"/></label>
                <button class="control-panel__button button-shell"><img src="./images/day-and-night.png" alt="" class="button-shell__img"/></button>
                <button class="control-panel__button button-shell"><img src="./images/ant-design_setting-outlined.png" alt="" class="button-shell__img"/></button>
                <button class="control-panel__button button-shell"><img src="./images/bx_bx-help-circle.png" alt="" class="button-shell__img"/></button>
                <button class="control-panel__button button-shell"><img src="./images/exit.png" alt="" class="button-shell__img"/></button>
            </aside>
            <div class="layout__account-chatlist">
                <!-- account -->
                <section class="layout__account account">
                    <div class="account__img img-container">
                        <img src="./images/Ellipse 1.png" alt="" class="img-container__img">
                    </div>
                    <h1 class="account__name">Emmie Bennett</h1>
                    <p class="account__label">My acount</p>
                </section>
                <!-- chats -->
                <section class="layout__chats chats">
                    <div class="chats__header">
                        <h2 class="chats__title">Chats</h2>
                        <button class="chats__add-button button-shell"><img src="./images/plus.png" alt="" class="button-shell__img"/></button>
                    </div>
                    <!-- chats-list -->
                    <div class="chats__chats-list chats-list">
                        <ul>
                            <li class="chats-list__item chats-list-item">
                                <div class="chats-list-item__img img-container ">
                                    <img src="./images/account_avatar_male_profile_user_icon_1218734.png" alt="" class="img-container__img">
                                </div>
                                <div class="chats-list-item__details">
                                    <h2 class="chats-list-item__name"><a href="">Emmy Brown</a></h2>
                                    <p class="chats-list-item__label">Hi our deadlines are...</p>
                                </div>
                            </li>
                            
                            <li class="chats-list__item chats-list-item">
                                <div class="chats-list-item__img img-container ">
                                    <img src="./images/account_avatar_male_profile_user_icon_1218734.png" alt="" class="img-container__img">
                                </div>
                                <div class="chats-list-item__details">
                                    <h2 class="chats-list-item__name">EJohn Doe</h2>
                                    <p class="chats-list-item__label">Hi our deadlines are...</p>
                                </div>
                            </li>
                            <li class="chats-list__item chats-list-item">
                                <div class="chats-list-item__img img-container ">
                                    <img src="./images/account_avatar_male_profile_user_icon_1218734.png" alt="" class="img-container__img">
                                </div>
                                <div class="chats-list-item__details">
                                    <h2 class="chats-list-item__name">Anna Barow</h2>
                                    <p class="chats-list-item__label">Hi our deadlines are...</p>
                                </div>
                            </li>
                            <li class="chats-list__item chats-list-item">
                                <div class="chats-list-item__img img-container ">
                                    <img src="./images/account_avatar_male_profile_user_icon_1218734.png" alt="" class="img-container__img">
                                </div>
                                <div class="chats-list-item__details">
                                    <h2 class="chats-list-item__name">Emmy Brown</h2>
                                    <p class="chats-list-item__label">Hi our deadlines are...</p>
                                </div>
                            </li>
                            <li class="chats-list__item chats-list-item">
                                <div class="chats-list-item__img img-container ">
                                    <img src="./images/account_avatar_male_profile_user_icon_1218734.png" alt="" class="img-container__img">
                                </div>
                                <div class="chats-list-item__details">
                                    <h2 class="chats-list-item__name">Emmy Brown</h2>
                                    <p class="chats-list-item__label">Hi our deadlines are... Hi our deadlines are...</p>
                                </div>
                            </li>
                            <li class="chats-list__item chats-list-item">
                                <div class="chats-list-item__img img-container ">
                                    <img src="./images/account_avatar_male_profile_user_icon_1218734.png" alt="" class="img-container__img">
                                </div>
                                <div class="chats-list-item__details">
                                    <h2 class="chats-list-item__name">Emmy Brown</h2>
                                    <p class="chats-list-item__label">Hi our deadlines are...</p>
                                </div>
                            </li>
                            <li class="chats-list__item chats-list-item">
                                <div class="chats-list-item__img img-container ">
                                    <img src="./images/account_avatar_male_profile_user_icon_1218734.png" alt="" class="img-container__img">
                                </div>
                                <div class="chats-list-item__details">
                                    <h2 class="chats-list-item__name">Emmy Brown</h2>
                                    <p class="chats-list-item__label">Hi our deadlines are...</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        <!-- chat -->
            <section class="lyaout__chat chat">

                <div class="chat__header chat-header">
                    <p class="chat-header__label">Chat with</p>
                    <div class="chat-header__details">
                        <div class="chat-header__img img-container ">
                            <img src="./images/account_avatar_male_profile_user_icon_1218734.png" alt="" class="img-container__img">
                        </div>                    
                        <h2 class="chat-header__title">Emmy Brown</h2>
                    </div>                    
                </div>
                
<!--   chat-dialog -->
                <div class="chat__dialog chat-dialog">

                    <div class="chat-dialog__message chat-dialog__message_from_opponent">
                        <p>Lorem ipsum dolor</p>
                    </div>

                    <div class="chat-dialog__message chat-dialog__message_from_me">
                        Lorem ipsum dolor Lorem ipsum dolor sit amet consectetur adipisicing elit. Nogfd gdsfg dsfg dsfg strum, omnis!
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa temporibus quidem a recusandae maxime ipsum ratione perferendis excepturi dignissimos quia?
                    </div>

                    <div class="chat-dialog__message chat-dialog__message_from_opponent">
                        Lorem ipsum dolor
                    </div>

                    <div class="chat-dialog__message chat-dialog__message_from_opponent">
                        Lorem ipsum dolor
                    </div>
                    <div class="chat-dialog__message chat-dialog__message_from_opponent">
                        Lorem ipsum dolor
                    </div>

                    <div class="chat-dialog__message chat-dialog__message_from_me">
                        Lorem ipsum dolor Lorem ipsum dolor sit amet consectetur adipisicing elit. Nogfd gdsfg dsfg dsfg strum, omnis!
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa temporibus quidem a recusandae maxime ipsum ratione perferendis excepturi dignissimos quia?
                    </div>
                    <div class="chat-dialog__message chat-dialog__message_from_opponent">
                        Lorem ipsum dolor
                    </div>
                    <div class="chat-dialog__message chat-dialog__message_from_me">
                        Lorem ipsum dolor
                    </div>                  
                </div>

                <div class="chat__input chat-input">
                    <input type="text" class="chat-input__input" placeholder="Write here..."/>
                    <button class="chat-input__button button-shell"><img src="./images/Vector.png" alt="" class="button-shell__img"/></button>
                </div>
            </section>
        </div>
    
</body>
</html>