.message {
    width: 70%;
    min-height: 75px;
    margin: 5px;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 18px;
    background-color: #2f8481;
    color: #d6fffe;
}
.message__author {
    padding: 0 10px;
    text-decoration: underline;
}