.inputMsg {
    width: 85%;
    outline: none;
    border: none;
    border-bottom: 1px solid darkblue;
    border-radius: 0%;
    min-height: 20px;
    width: 85%;
    color: darkblue;
}

.form-control:focus {
    color: #495057;
    background-color: transparent;
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid darkblue;
}