.chat {
    width: 270px;
    height: 100%; 
    padding-left: 30px;
    /* padding-right: 30px; */
    background-color: #1F1F1F;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
